@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

// color scheme designer Scheme ID: 2P11Tw0w0w0w0

$logo-color: white;

// $header-background-color: #227; // dark blue

// green header scheme
$header-background-color: #008500;
$header-hover-background-color: #29AA29; //#00CC00
$header-height: 45px;

$body-background-color: #505050;
// $body-background-color: #3D3D3D; // darker

#header {
  padding-bottom: 0;
  height: $header-height;
  line-height: $header-height;
  background: $header-background-color;
}

#header .logo a {
  padding: 0 20px;
  vertical-align: middle;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: $logo-color;
  float: left;
}

#header nav {
  float: right;
}

#header nav a {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
}

#header a {
  color: white;
  text-decoration: none;
}

#header a:hover {
  background-color: $header-hover-background-color;
}

body {
  background: $body-background-color;
  padding: 30px 100px;
}

#container {
  background: white;
  @include box-shadow(black 5px 5px 20px);
}

header {}

#main {
  padding: 20px;
}

footer {
  padding: 20px;
  padding-top: 0;
}
