-# = link_to(work.title, work_path(work)) + " " + get_byline(work)

.workResult.clearfix{:class => small ? 'small' : 'large'}
  %a{:href => work_path(work)}
    %img.workImage.shadowedImage{:src => work.cover_image_url, :alt => "Book cover"}
  .workActionsWrapper
    .workActions
      .workInfo
        .workTitle
          = link_to(work.title, work_path(work))
        .workAuthor
          = get_byline(work)
      = render "shared/dropdown_button", :className => 'readNow', :text => "Read", |
          :options => sections_to_dropdown_options(work), :buttonLink => work_path(work)
