%h1{:class => "pageName"} All Works
- if Work.all.empty?
  %div
    There are no works yet.
- else
  -Work.all.each do |work|
    %div
      = render :partial => "works/work_result", :locals => { :work => work }
