.pageHeading
  %h1{:class => "pageName"} All Books
- if Work.all.empty?
  %div
    There are no books yet.
- else
  %ul
    -Work.all.each do |work|
      %li
        = render "works/work_result", :work => work, :small => true
