%h1{:class => "pageName"} All Works
- if Work.all.empty?
  %div
    There are no works yet.
- else
  %ul
    -Work.all.each do |work|
      %li
        = render :partial => "works/work_result", :locals => { :work => work }
