.pageHeading
  %h1{:class => "pageName"} #{@work.title}
  - if current_user.try(:admin?) # try so we fail gracefully if logged out
    = link_to('[edit]', edit_work_path(@work), {:class => 'editLink'})
  %h2{:class => "pageSubtitle"} #{get_byline(@work)}

.twoColumn.clearfix
  .left.showWorkLeftNav
    %img{:class => "workImage shadowedImage", :src => @work.cover_image_url, :alt => "Book cover"}
    = render "works/read_work_widget", :work => @work
  .right
    %h2 About
