.pageHeading
  %h1{:class => "pageName"} All Authors
- if Author.all.empty?
  %div
    There are no authors yet.
- else
  %ul
    - Author.all.each do |author|
      %li
        = render :partial => "authors/author_result", :locals => { :author => author }
