.dropdownButton
  %div{:class => "cupid-green button dropdownButtonArrowContainer " + className}
    %span{:class => "dropdownButtonArrow"} &darr;
  %a{:href => buttonLink}
    %div{:class => "cupid-green button dropdownButtonText " + className}#{text}
