.dropdownButton
  %div{:class => "cupid-green button dropdownButtonArrowContainer " + className}
    %span{:class => "dropdownButtonArrow"} &#9660;
  %a{:href => buttonLink}
    %div{:class => "cupid-green button dropdownButtonText " + className}#{text}
  = dropdown
