%div{:class => "annotation"}
  %div{:class => "annotationTop"}
  %div{:class => "annotationBody"}
    %div{:class => "annotationTitle"}
      =title
    %div{:class => "annotationContent"}
      %div{:class => "annotationText"}
        =text
  %div{:class => "annotationBottom"}
